{% extends "main.html" %} {% block content %}

<article class="main">
    <div class="container">

        <div class="package-content">

            <div class="warning">
                <span class="book-title"><i class="fas fa-exclamation"></i> &emsp;ARE YOU 
										SURE YOU WANT TO DELETE PACKAGE '#0000{{package.id}}'? &emsp;  </span>
            </div>
            <div>
                <form action="{{ url_for('deletePackage',package_id = package.id)}}" method='POST'>
                    <input class="warning-btn " type='submit' , value='confirm Deletion'>
                    <a class="admin-btn" href="{{ url_for('showPackageBooks',package_id=package.id)}}"> Cancel </a>
                </form>

            </div>

        </div>

        <div class="package-content dark">
            <h3>Package #0000{{package.id}}</h3>

            <div class="package-admin">
                <a class="admin-btn" href='{{url_for('newPackage')}}'>New Package</a>
                <a class="admin-btn" href='{{url_for('editPackage', package_id=package.id)}}'>Edit this package</a>
                <a class="admin-btn" href='{{url_for('deletePackage', package_id=package.id)}}'>Delete this package</a>
            </div>
            <div>
                {% for book in books %}

                <a href='{{url_for('showBook',book_id=book["id"])}}'>
                    <div class="book">

                        <div class="image">
                            <img style="width:128px; height:200px" src='{{book.image}}'>
                        </div>

                        <span class="title">{{book["title"][:15]}}...</span>
                        <br>
                        <!-- {{book["author"]}}<br> -->
                        <!-- {{book["isbn"]}}<br>
								{{book["description"]}}<br>
								{{book["condition"]}}<br> -->
                        {% for a in range(1,1+ book.condition): %}
                        <i class="fas fa-star checked"></i> {% endfor %} {% for b in range(book.condition,5): %}
                        <i class="fas fa-star unchecked"></i> {% endfor %}
                        <br>
                        <span class="title">Price: ${{book.price}} </span>
                        <!-- {{book["comments"]}} 
								<a href='{{url_for('editBook', book_id=book["id"])}}'>Edit</a>
								<a href='{{url_for('deleteBook', book_id=book["id"])}}'>Delete</a>  -->

                    </div>
                </a>

                {% endfor %}
            </div>
        </div>
    </div>
</article>

{% include "menu.html" %} {% endblock %}