{% extends "main.html" %} {% block content %}
<script type="text/javascript" src="/static/validation.js"></script>

<article class="main">
    <div class="container">

        <div class="package-content">
            <h3>Edit Package #0000{{package.id}}</h3>

            <form name="form" action="#" 
                id="package" method='POST' onsubmit="return validateForm()">
                <table>
                    <tr>
                        <td class="tbl-label">PRICE</td>
                        <td>
                            <input type='text' size='30' name='price' value='{{package.price}}'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tbl-label">BOOKS IN THIS PACKAGE
                        </td>
                    </tr>
                    {% for book in selectedBooks %}
                    <tr>
                        <td colspan="2" class="tbl-list">

                            <span class="tbl-entry">
                                        <input type ='checkbox' name="book[]" value="{{book.id}}" checked=true />{{book.title}} [${{book.price}}] 
                                </span>
                            <br />

                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="tbl-label">OTHER BOOKS</td>
                    </tr>
                    {% for book in books %} {% if book not in selectedBooks: %}
                    <tr>
                        <td colspan="2" class="tbl-list">

                            <span class="tbl-entry">
                                                <input type ='checkbox' name="book[]" value="{{book.id}}" />{{book.title}} [ ${{book.price}} ] 
                                        </span>
                            <br />

                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                    <tr>
                        <td colspan="2">
                            <input class="admin-btn" type='submit' value='Update Package #0000{{package.id}}'>
                        </td>

                    </tr>

                </table>

            </form>
        </div>
    </div>
</article>
{% include "menu.html" %} {% endblock %}