{% extends "main.html" %} {% block content %}

<script type="text/javascript">
    function checkTheBox() {
        var list, index, item, checkedCount,price;
        checkedCount = 0;
        list = document.getElementsByName('book[]');
        price = document.forms["newpackage"]["price"].value;
        
        for (index = 0; index < list.length; index++) {
            item = list[index];
            if (item.checked)
            {   
            checkedCount++;
            }
        }
        
        if (price == null || price == 0) {
            alert("The price of package can't be zero! Please check the price and try again");
            return false;
        } 
        else if  (checkedCount < 2) {
            alert ("A package must contain at least two books!");
            return false;
        } else {
            return true;
        }
    }
</script>

<article class="main">
    <div class="container">
        <div class="package-content">
            <h3>Add a new package</h3>

            <form id="newpackage" action="#" method='POST' onsubmit="return checkTheBox()">
                <table>
                    <tr>
                        <td class="tbl-label">PRICE</td>
                        <td>
                            <input type='number' size='20' name='price'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tbl-label">BOOKS</td>
                    </tr>
                    {% for book in books %}

                    <tr>
                        <td colspan="2" class="tbl-list">
                            <span class="tbl-entry">
                                        <input type ='checkbox' name="book[]" value="{{book.id}}" />{{book.title}} [ ${{book.price}} ] 
                                </span>
                            <br />
                        </td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <div class="book-admin">
                                <input class="admin-btn" type='submit' value='New Package'>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            
        </div>
    </div>
</article>
{% include "menu.html" %} {% endblock %}