{% extends "main.html" %} {% block content %}

<script type="text/javascript" src="/static/validation.js"></script>

<article class="main">
    <div class="container">
        <div class="package-content">
            <h3>Add a new package </h3>

            <form id="form" action="#" method='POST' 
                id="package" onsubmit="return validateForm()">
                <table>
                    <tr>
                        <td class="tbl-label">PRICE</td>
                        <td>
                            <input type='number' size='20' name='price'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tbl-label">BOOKS</td>
                    </tr>
                    {% for book in books %}

                    <tr>
                        <td colspan="2" class="tbl-list">
                            <span class="tbl-entry">
                                        <input type ='checkbox' name="book[]" value="{{book.id}}" />{{book.title}} [ ${{book.price}} ] 
                                </span>
                            <br />
                        </td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <div class="book-admin">
                                <input class="admin-btn" type='submit' value='New Package'>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            
        </div>
    </div>
</article>
{% include "menu.html" %} {% endblock %}